:root {
    // --b3-theme-surface-lighter: #e0e0e0;
    // --b3-theme-on-surface: #5f6368;
    // --b3-border-radius: 6px;
    // --b3-transition: all .2s cubic-bezier(0, 0, .2, 1) 0ms;
    // --b3-list-hover: rgba(0, 0, 0, .075);
    // --b3-list-icon-hover: rgba(33, 34, 36, .1);
    /* 定义颜色变量 */
}

html {
    position: static;
}

body {
    text-rendering: optimizeLegibility;
    margin: 0;
    font-family: var(--b3-font-family);
    font-size: 14px;
    color: var(--b3-theme-on-background);
    // background-color: var(--b3-theme-background);
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    box-sizing: border-box;
    max-height: 100%;
    // overflow: hidden;
    // background-color: transparent;
}


.fn__flex {
    display: flex;
}


.fn__flex-1 {
    flex: 1;
    min-width: .1px;
    overflow: auto;
    min-height: .1px;
}

.block__logoicon {
    margin-right: 4px;
    height: 16px;
    width: 16px;
    padding: 4px;
    flex-shrink: 0;
}

.block__logoicon.custom-emoji {
    height: auto;
}


svg {
    fill: currentColor;
    display: inline-block;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

.block__logo:not(.popover__block) {
    width: 120px;
    color: var(--b3-theme-on-surface);
    align-self: center;
    margin-top: 2px;
}


div {
    display: block;
    unicode-bidi: isolate;
}

element.style {
    background-color: var(--b3-font-background8);
    color: var(--b3-font-color8);
}


.b3-chip {
    margin: 1px 2px;
}

.b3-chip {
    background-color: var(--b3-list-hover);
    color: var(--b3-theme-on-background);
    line-height: 16px;
    font-weight: 400;
    font-size: .8125rem;
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    padding: 8px 12px;
    border-radius: 20px;
    transition: var(--b3-transition);
    text-decoration: none;
}

.b3-chip--middle {
    padding: 4px 6px;
}


.custom-attr__avvalue {
    cursor: pointer;
    transition: var(--b3-transition);
    border-radius: var(--b3-border-radius);
    padding: 4px 8px;
    line-height: 26px;
    min-height: 26px;
    flex-wrap: wrap;
}

.av__cellicon {
    margin: 0 5px;
    height: 10px;
    width: 10px;
}

.av__cellassetimg {
    max-height: 24px;
    border-radius: 4px;
}

.av__row {
    box-sizing: border-box;
    padding: 4px 8px;
    white-space: nowrap;
    margin-right: 8px;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    border-bottom: 1px solid var(--b3-theme-surface-lighter);
    position: relative;
    font-size: 87.5%;
}

.av__checkbox {
    color: var(--b3-theme-on-surface);
    box-sizing: border-box;
    padding: 5px 0;
    display: block;
    font-size: auto;
    width: 16px;
    height: 26px;
}

.fn__space {
    width: 8px;
    display: inline-block;
    flex-shrink: 0;
}

.block__icon {
    color: var(--b3-theme-on-surface);
    cursor: pointer;
    opacity: 0;
    border: 0;
    background: rgba(0, 0, 0, 0);
    flex-shrink: 0;
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: var(--b3-border-radius);
    transition: var(--b3-transition), opacity .3s cubic-bezier(0, 0, 0.2, 1) 0ms;
    line-height: 14px;
}

.block__icon--show {
    opacity: 1;
}

.block__icon svg {
    height: 14px;
    width: 14px;
}

.b3-text-field--text {
    transition: var(--b3-transition);
    min-height: 34px;
    background-color: rgba(0, 0, 0, 0);
    padding: 7px 8px;
}

.b3-text-field {
    border: 0;
    border-radius: var(--b3-border-radius);
    box-shadow: inset 0 0 0 .6px var(--b3-theme-on-surface);
    padding: 4px 8px;
    line-height: 20px;
    box-sizing: border-box;
    color: var(--b3-theme-on-background);
    transition: box-shadow 120ms 0ms cubic-bezier(0, 0, 0.2, 1);
    // background-color: var(--b3-theme-background);
    -webkit-appearance: none;
    font-variant-ligatures: none;
}

// [data-theme-mode="dark"] .b3-text-field {
//     color: #222;
// }

.custom-attr .av__cellassetimg {
    max-height: 24px;
}

.av__celltext--url.b3-chip {
    max-width: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: top;
    border-bottom: 0;
}

.block__icons {
    box-sizing: border-box;
    padding: 4px 8px;
    font-size: 100%;
    border-bottom: 0;
    padding: 0 8px;
    display: flex;
    align-items: center;
    min-height: 42px;
    flex-shrink: 0;
}

.block__logo {
    white-space: nowrap;
    margin-right: 8px;
    display: flex;
    align-items: center;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 5px;
}

.layout-tab-bar {
    list-style: none;
    background-color: rgba(0, 0, 0, 0);
    height: 28px;
    border-bottom: 0;
    overflow-y: hidden;
    border-radius: 6px;
    margin: 8px 8px 6px;
    transition: margin .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.layout-tab-bar .item {
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    transition: var(--b3-transition);
    position: relative;
    max-width: 186px;
    flex-shrink: 0;
    height: 28px;
    min-width: unset;
    min-height: unset;
    line-height: 24px;
    margin-right: 8px;
    border-radius: 6px !important;
    overflow: visible;
    background-color: var(--b3-list-hover);
}

.layout-tab-bar .item--focus {
    background-color: oklch(from var(--b3-theme-primary) 0.43 calc(c * 0.9 * var(--asri-c-0, 1)) h/0.2);
}



.layout-tab-bar .item__text {
    padding: 2px 6px 2px 6px;
    -webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0, #000 8px);
    mask-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0, #000 8px);
}



.config__tab-container {
    overflow: auto;
    box-sizing: border-box;
    height: 100%;
}

button,
input {
    line-height: normal;
}

.fn__flex-center {
    align-self: center;
}

.b3-switch:checked:before,
.b3-switch:checked:after {
    transform: translateX(19px);
    transition: transform .6s cubic-bezier(0.2, 0.85, 0.32, 1.2), opacity .3s;
}

.b3-switch:after {
    border: 1px solid var(--b3-theme-surface-lighter);
    box-shadow: var(--b3-point-shadow);
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    pointer-events: none;
    z-index: 1;
    content: "";
    background-color: #fff;
    left: -4px;
    top: -3px;
    display: block;
    position: absolute;
    transition: transform .3s ease, opacity .2s;
}

.b3-switch::after {
    top: 1px;
    left: 1px;
    background-color: #fff;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, .2);
    border: none;
}

.b3-switch {
    flex-shrink: 0;
    -webkit-appearance: none;
    box-sizing: border-box;
    width: 28px;
    height: 12px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: var(--b3-border-radius-b);
    margin: 0;
    outline: none;
    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color: var(--b3-theme-surface-lighter);
    overflow: inherit;
    user-select: none;
}

.b3-switch {
    height: 20px;
    width: 32px;
    transition-property: background-color, filter;
    transition-duration: 0.3s;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: rgba(127, 127, 127, 0.4);
}

.b3-switch:checked {
    background-color: var(--b3-theme-primary-light);
}

.b3-switch:checked:before,
.b3-switch:checked:after {
    transform: translateX(19px);
    transition: transform .6s cubic-bezier(0.2, 0.85, 0.32, 1.2), opacity .3s;
}

.b3-switch:checked::after {
    transform: translateX(12px);
    background-color: #fff;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, .2);
}